nav.navbar.navbar-default
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Home
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href='#/maps', data-toggle='dropdown', role='button', aria-expanded='false')
            | Trigo
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='/basics/background') Didactical background
            li
              a(href='/basics/tutorials') Tutorials
            li
              a(href='/basics/downloads') Downloads
        li.dropdown
          a.dropdown-toggle(href='#/maps', data-toggle='dropdown', role='button', aria-expanded='false')
            | Dashboard
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='/authoring/activity/new') Create new activity
            li
              a(href='/authoring') My activities
            li
              a(href='/authoring/visualizing_list') The visualization
        li
          a(href="/basics/contact") Contact
      ul.nav.navbar-nav.navbar-right
        -if (user != undefined)
          li
            p.navbar-text Signed in as #{user.username}
          li
            a(href='/logout') Logout
        -else
          li
            a(href='/login') Login