extends trigo_layout

append head_inserts
  title TriGO | Activities

append head
  link(href='/css/authoring/activities.css', rel='stylesheet')
  script(type='text/ng-template', id='delModalContent.html').
    <div class="modal-header">
    <h3 class="modal-title">Are you sure you want to delete the activity?</h3>
    </div>
    <div class="modal-body">
    <p>
    The activity and all its data will be permanently deleted.
    </p>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(item._id)">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>

append body_js
  script(src='/js/vendor/angular.min.js', type='text/javascript')
  script(src='/js/vendor/angular/ui-bootstrap-tpls-0.12.1.js', type='text/javascript')
  script(src='/js/vendor/angular/smart-table.min.js', type='text/javascript')
  script(src='/js/authoring/activities.js', type='text/javascript')

append body
  #uID(uID=user._id)
    .container(ng-controller="ActivityCtrl", style="background: #f5f5f5;")
      .page-header
        .row
          .col-xs-18.col-lg-12
            h1 Activities
            p.lead
              | Choose an activity to look at or create a new one
              a#bt_new.btn.btn-success.btn-lg(href='/authoring/activity/new', style='position: relative; float: right;') New Activity
    .container(style="background: #f5f5f5;", ng-controller='DelModalCtrl')
      .row
        .col-xs-15.col-lg-10.col-md-10
          h3 Your Activities
          h4 Choose an activity to show
          table.table.table-striped(st-table='displayedOwnCollection', st-safe-src='ownActivities')
            thead
              tr
                th(colspan='1')
                  input.input-sm.form-control(st-search='', placeholder='search', type='search')
              tr.sortable
                th(st-sort='title') Title
                th(st-sort='description') Description
                th(st-sort='location') Location
                th(st-sort='created') Created at
                th Delete
            tbody
              tr(ng-repeat='item in displayedOwnCollection')
                td
                  a.list-group-item(href="/authoring/activity/{{item._id}}") {{item.title}}
                td {{item.description}}
                td {{item.location}}
                td {{item.createdAt | date}}
                td
                  td
                    a.btn.btn-primary.rem(ng-click='open(item._id)')
                      i.glyphicon.glyphicon-remove
            tfoot
              tr
                td.text-center(colspan='2')
                  div(st-pagination='', st-items-by-page='10', st-displayed-pages='7')
          h3 All Activities
          h4 Check activities from others
          table.table.table-striped(st-table='displayedAllCollection', st-safe-src='allActivities')
            thead
              tr
                th(colspan='1')
                  input.input-sm.form-control(st-search='', placeholder='search', type='search')
              tr.sortable
                th(st-sort='title') Title
                th(st-sort='description') Description
                th(st-sort='location') Location
                th(st-sort='createdby') Created by
                th(st-sort='createdat') Created at
            tbody
              tr(ng-repeat='item in displayedAllCollection')
                td
                  a.list-group-item(href="/authoring/activity/{{item._id}}") {{item.title}}
                td {{item.description}}
                td {{item.location}}
                td {{item.username}}
                td {{item.createdAt | date}}
            tfoot
              tr
                td.text-center(colspan='2')
                  div(st-pagination='', st-items-by-page='10', st-displayed-pages='7')
        .col-xs-3.col-lg-2.col-md-2
