doctype html
html
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      link(rel='stylesheet', href='/css/authoring/font.css', type='text/css')
      link(rel='stylesheet', href='/css/vendor/bootstrap.min.css')
      link(rel='stylesheet', href='/css/authoring/font-awesome.css')
      link(rel='stylesheet', href='/css/authoring/bootstrap-social.css')
      link(rel='stylesheet', href='/css/authoring/normalize.min.css')
      link(rel='stylesheet', href='/css/authoring/main.css')
      link(rel='stylesheet', href='/css/authoring/style.css')
      link(rel='stylesheet', href='/css/authoring/fontello.css')
      link(rel='stylesheet', href='/css/auth/login.css')
      script(src='/js/vendor/jquery-1.11.2.min.js')
      script(src='/js/vendor/modernizr.js')
      script(src='/js/vendor/bootstrap.min.js')
      //JQUERY UI
      script(src='/js/vendor/jquery-ui.min.js')
      //FORM VALIDATION PLUGIN
      script(src='/js/authoring/jquery.validate.js')
      //CUSTOM JS
      script(src='/js/authoring/main.js')
  body
    block body
