extends trigo_layout

append head_inserts
  title TriGO | Didactical Background

append body
  .container
    h1 Didactical Background
    .row
      .col-sm-4
        | Preparatory session, Indoors
        a(href='/img/didactical_bck/field.png')
          img.img-thumbnail(src='/img/didactical_bck/field.png', alt='field', width='252', height='223')
      .col-sm-4
        | Activity Outdoors
        a(href='/img/didactical_bck/field2.png')
          img.img-thumbnail(src='/img/didactical_bck/field2.png', alt='field2', width='288', height='225')
      .col-sm-4
        | Follow-up session, Indoors
        a(href='/img/didactical_bck/whiteboard.png')
          img.img-thumbnail(src='/img/didactical_bck/whiteboard.png', alt='whiteboard', width='221', height='221')


    h2 Structure of the teaching activity
    p
      | The purpose of the preparatory session is to:
      ul
        li arrange the students in groups, with 2 or 3 students in each group
        li show a map of the location where the outdoor activity will take place
        li introduce the students to the nature of the tasks
        li introduce the mobile-assisted application to the students
      | During the outdoor activity, the students work in their groups, with minimal assistance by the teacher.
      br
      br
      | The purpose of the follow-up session is to connect the outdoor experiences with mathematical learning objectives.
      br
      br
      | To support the teacher’s work, we have suggested possible learning objectives that may be addressed in the follow-up session. However, the teacher may choose freely to pursue any learning objective that seems appropriate based on the students’ outdoor experiences.
    h2 Nature of the tasks
    p
      | The students are asked to carry out 10 tasks on the field.
      br
      br
      | Each task involves coordination of distances.
      br
      br
      | A total of six markers are placed on the field.
      br
      br
      | In each task, the students are asked to place themselves at given distances with respect to two of the markers.
      br
      br
      | The distances and the markers are shown on the mobile display.
      br
      br
      .row
        .col-sm-4
           a(href='/img/didactical_bck/Untitled.png')
            img.img-thumbnail(src='/img/didactical_bck/Untitled-179x300.png', alt='mobile', width='179', height='300')
        .col-sm-8
          a(href='/img/didactical_bck/triangle1.png')
            img.img-thumbnail(src='/img/didactical_bck/triangle1-300x153.png', alt='triangle1', width='469', height='239')
      br
      br
      | The 10 tasks are chosen so that 8 out of 10 tasks are possible to solve.
      br
      br
      | The remaining 2 tasks (10-15 and 55-10) are impossible to solve due to the fact that they refer to markers that are placed 35 meters from each other.
      br
      br
      | It is up to the teacher to inform the students that some tasks may be impossible to solve, or leave it to the students to discover this by themselves.
      br
      br
      | Each task involves different markers and are arranged so that students should not be working simultaneously with identical tasks.
      br
      br
      | Caution:
      ul
        li The GPS values are not exact, so an exact match of distances cannot be expected. It is suggested to inform the students that 2-3 meters “off target” is acceptable, for each distance.
        li The GPS values may fail to update, due to technical limitations or weather conditions. It is suggested to ask the students to wait a few minutes for the values to update, and if they do not, let the students join another group.
    h2 Mathematics in the tasks
    p
      | Each task may be interpreted as the construction of a triangle with three given sides.
      br
      br
      | For example, the task “21-32” (below) can be interpreted as the construction of a triangle with sides 21-32-35.
      br
      br
      .row
        .col-sm-6
          a(href='/img/didactical_bck/triangle1-300x153.png')
            img.img-thumbnail(src='/img/didactical_bck/triangle1-300x153.png', alt='triangle1', width='469', height='239')
        .col-sm-6
          a(href='/img/didactical_bck/Screen-Shot-2015-04-05-at-12.35.27.png')
            img.img-thumbnail(src='/img/didactical_bck/Screen-Shot-2015-04-05-at-12.35.27-300x196.png', alt='triangle2', width='300', height='196')
      br
      br
      | Such a triangle can be constructed with circles:
      .well
        | Euclid’s Elements     Book I Proposition 22Out of three straight lines, which are equal to three given straight lines, to construct a triangle: thus it is necessary that two of the straight lines taken together in any manner should be greater than the remaining one.
    h2 Observed solution strategies
    p
      ol
        li
          strong Separate-negotiate.
          | The students determine two points on the field that each are supposed to fulfil one of the two distance requirements. The locations of these points are negotiated to find a third point that should fulfil both requirements.
        li
          strong Farther-closer.
          | Compares current location with target points. The students attempt to move in a direction reducing the differences of both values, without considering the actual differences.
        li
          strong Circle.
          | If one of the values is correct, the student attempts to move along a circular arc in order to achieve the second value while preserving the correct value.
        li
          strong Successive adjustments.
          | Students react on the last obtained values and attempt to adjust either one value or both values. If they are far away from the target point they tend to correct only one of the values and if they are close they attempt to correct both values simultaneously.
      h2 Suggested learning objectives for the follow-up session
      p
        ol
          li
            strong Connecting the solutions to circles.
            | The teacher can initially let the students explain how they solved the tasks. Next, invite the students to engage in a collaborative construction of points on the whiteboard, each point located at a fixed distance from a marker. Discover circles.
            br
            i This has been successfully done in a grade 4 in Sweden
            br
            a(href='/img/didactical_bck/whiteboard.png')
              img.img-thumbnail(src='/img/didactical_bck/whiteboard.png', alt='whiteboard', width='221', height='221')

          li
            strong Follow up on the students’ solution strategies.
            | Explain how the strategies work and compare different strategies. Possibly also explain why they work.
          li
            strong Possible and impossible constructions.
            | When the students have explained their constructions at the whiteboard, ask them if all tasks were possible to solve. Which were impossible to solve? Why were they impossible to solve? Why were the other tasks possible to solve?
            br
            i This has been successfully done in a grade 6 in Sweden.
