extends trigo_layout

append head_inserts
  title TriGO | Contact Us

append head
  link(rel='stylesheet', href='/css/authoring/bootstrap-social.css')
  link(rel='stylesheet', href='/css/vendor/font-awesome.min.css')

append body
  .container
    h1 Contact Us
    h2 The Team
    p
      h3 Yeray Real Delgado
      .row
        .col-sm-4
          br
          br
          img.img(src='/img/contact/yeray.png', alt='Yeray Real Delgado', style="display:block; margin-left:auto; margin-right:auto")
        .col-sm-4(style='text-align: justify')
          span
            | Yeray Real Delgado is a developer currently working as a Research Assistant at Linnaeus University (LNU) since December 2013. Recently, he completed a Master Degree in Social Media and Web Technologies at LNU. Previously, he had completed a Bachelor Degree at La Laguna University (ULL) in Computer Management.  His main focus is on collaborative mobile solutions and the type of interactions that these solutions can provide. In addition to that, he has also focused on Tangible User Interfaces.
        .col-sm-4
          ul.list-inline
            li
              a.btn.btn-lg.btn-social-icon.btn-twitter(href='mailto:yerayrd@gmail.com')
                i.fa.fa-envelope
            li
              a.btn.btn-lg.btn-social-icon.btn-linkedin(href='https://se.linkedin.com/in/yerayreal/en', target="_blank")
                i.fa.fa-linkedin
      h3 Carlos Sirvent Mazarico
      .row
        .col-sm-4
          br
          br
          img.img(src='/img/contact/carlos.png', alt='Carlos Sirvent Mazarico', style="display:block; margin-left:auto; margin-right:auto")
        .col-sm-4(style='text-align: justify')
          span
            | Carlos Sirvent is a freelance developer passionated in learning new technologies, cultures, gadgets and helping people. He studied computer engineering at the Autonomous University of Barcelona. Aside from his studies, he extended his knowledge through self-learning and the development of websites and mobile applications. After four years in Barcelona, Carlos decided to go to Växjö with the Erasmus program, which was a great experience for him.
            br
            | He went to the Linnaeus University (LNU), where he wrote his thesis to finish his bachelor program. During the thesis he improved his knowledge about PhoneGap applications by comparing them to native ones. While he was finishing the thesis, he decided to start an internship at the Media Technology Department at LNU. He has already worked with various developing languages and is not afraid to learn new ones.
        .col-sm-4
          ul.list-inline
            li
              a.btn.btn-lg.btn-social-icon.btn-twitter(href='mailto:carlos.sirvent7@gmail.com')
                i.fa.fa-envelope
            li
              a.btn.btn-lg.btn-social-icon.btn-linkedin(href='https://www.linkedin.com/in/carlossirvent', target="_blank")
                i.fa.fa-linkedin
      h3 Didac Gil de la Iglesia
      .row
        .col-sm-4
          br
          br
          img.img(src='/img/contact/didac.png', alt='Didac Gil de la Iglesia', style="display:block; margin-left:auto; margin-right:auto")
        .col-sm-4(style='text-align: justify')
          span
            | Didac Gil is a Research Associate at Linnaeus University (LNU) since June 2014.
            br
            | He holds a PhD in Computer Science, with specialization in Media Technology from Linnaeus University, a Master Degree in Mobile Communications from the Politechnical University in Barcelona (UPC). His research focuses on technical aspects related to mobile collaborative systems by the share of resources between mobile devices and Tangible User Interfaces. Currently, Didac is using Agent-based approaches for resource and service share between mobile devices and self-adaptive mechanisms to provide quality assurances.
            br
            br
            | Didac has been previously working as a teacher at the On-line University in Catalunya (UOC). He has also worked as a IT Security service leader designing and being part of the development team in artificial intelligence applications. During his work in this direction, distributed computing and collaboration tools have been central components of the architecture design.
        .col-sm-4
          ul.list-inline
            li
              a.btn.btn-lg.btn-social-icon.btn-twitter(href='mailto:didac.gil-de-la-iglesia@lnu.se')
                i.fa.fa-envelope
            li
              a.btn.btn-lg.btn-social-icon.btn-linkedin(href='https://www.linkedin.com/in/didacgil', target="_blank")
                i.fa.fa-linkedin
      h3 Janosch Zbick
      .row
        .col-sm-4
          br
          br
          img.img(src='/img/contact/janosch.png', alt='Janosch Zbick', style="display:block; margin-left:auto; margin-right:auto")
        .col-sm-4(style='text-align: justify')
          span
            | Janosch Zbick is a PhD student at the Department of Media Technology since September 1st 2013. He holds a master degree in Applied Computer Science from the University Duisburg-Essen in Germany. He is exploring and investigating research topics that lay in the intersection between the fields of mobile learning, ubiquitous computing and interactive systems. He is currently involved in the development of an authoring tool to design mobile collaborative learning activities.He previously conducted an internship at CeLeKT and came to Vaxjo University in November 2008.
        .col-sm-4
          ul.list-inline
            li
              a.btn.btn-lg.btn-social-icon.btn-twitter(href='mailto:janosch.zbick@lnu.se')
                i.fa.fa-envelope
            li
              a.btn.btn-lg.btn-social-icon.btn-linkedin(href='https://www.linkedin.com/in/janoschzbick', target="_blank")
                i.fa.fa-linkedin
      h3 Håkan Sollervall
      .row
        .col-sm-4

        .col-sm-4(style='text-align: justify')
          span
            | Håkan Sollervall is a teacher in Mathematics at Linnaeus University. He holds a PhD in pure Mathematics from University of Hawaii at Manoa since 1989 and is currently engaged in combined research and development projects in Mathematics Education. For over 10 years, he has been involved in several collaborative design research efforts together with schoolteachers and researchers in Media Technology. In the current project, he is responsible for designing the mathematical content and for structuring the activity according to well-established pedagogical and didactical theories.
        .col-sm-4
          ul.list-inline
            li
              a.btn.btn-lg.btn-social-icon.btn-twitter(href='mailto:hakan.sollervall@lnu.se')
                i.fa.fa-envelope
    h2 The Research Group
    p
      | This project is part of the #[a(href="http://www.celekt.info/") CeLeKT] (Center for Learning and Knowledge Technologies) research group, located at the #[a(href='http://lnu.se', target="_blank") Linnaeus University] in Växjö, Sweden
      br
      br
      .row
        .col-sm-4
          a(href='http://www.celekt.info/', target="_blank")
            img.img-thumbnail(src='/img/contact/celekt_logo.gif', alt='CeLeKT')
        .col-sm-4
          a(href='http://lnu.se', target="_blank")
            img.img-thumbnail(src='/img/contact/logo_symbol.png', alt='LNU')
        .col-sm-4

