extends trigo_layout

append head_inserts
  title TriGO | Dashboard

append head
  link(href='/css/test/test.css', rel='stylesheet')
  script(src="/socket.io/socket.io.js")
  script.
    var downloadlist =!{JSON.stringify(downloadlist)};
    var activity =!{JSON.stringify(activity)};
    var user =!{JSON.stringify(user)};

  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true")

append body_js
  script(src='/js/authoring/dashboard.js')


append body
  .container(style="background: #f5f5f5;")
    .page-header
      .row
        .col-xs-12.col-lg-8
          p.lead
            input#scenario-title(type='text', placeholder='Title', value=activity.title, readonly)
            input#scenario-description(type='text', placeholder='Description', value=activity.description, readonly)
          - var d = null
          - var dateStringWeek = null
          - var dateStringDay = null
          - var dateStringMonth = null
          - var dateStringYear = null
          - var dateString = null

          - n = activity.createdAt
          - d = new Date(n)
          -var min = 0;
          if d.getMinutes() < 10
            - min = "0" + d.getMinutes();
          else
            - min = d.getMinutes();
          -var date = 0;
          if d.getDate() < 10
            - date = "0" + d.getDate();
          else
            - date = d.getDate();
          -var month = 0;
          if parseInt(d.getMonth()+1) < 10
            - month = "0" + parseInt(d.getMonth()+1);
          else
            - month = parseInt(d.getMonth()+1);

          - dateString = 'Created: ' + date + '/' + month + '/' + d.getFullYear() + ' ' + d.getHours() + ':' + min
          label= dateString
          br
          label#City
        .col-xs-6.col-lg-4

          div#buttons-container(style='float: right; width: 144px; margin-top: 20px;')

            div(style='float: right; width: 270px;')
              button#generate-visualization.btn.btn-success.btn-lg(type='button', style='font-size: 15px; float: left; width: 220px; margin-right: 5px; margin-top: 10px;') Visualize Activity Experience
              button#download-kml.btn.btn-success.btn-lg(type='button', style='font-size: 15px; padding: 9px; float: left; width: 40px; margin-top: 10px; margin-bottom:10px;')
                img(src='http://www.clipartbest.com/cliparts/RTA/7Ry/RTA7Ry8TL.png', alt="Download KML file", style='width:20px;')
            select#kml-select.form-control
              option(value='all', selected) All uploads
              option(value='first') First uploads
              option(value='last') Last uploads

  .container(style="background: #f5f5f5;")
    .row
      .col-xs-3.col-lg-2
        .panel.panel-primary.scenario-element
          .panel-heading
            h3.panel-title Activity Code
          #code.panel-body
            | #{activity.code}
        .panel.panel-primary.scenario-element
          .panel-heading
            h3.panel-title Activity Password
          #password.panel-body
            | #{activity.password}
        .panel.panel-primary.scenario-element
          a(data-toggle='collapse', data-parent='#accordion', href='#teacherpassword')
            .panel-heading(style='background-color:#337ab7; color: white; text-decoration: none')
              h3.panel-title Teacher Password
          #teacherpassword.panel-collapse.collapse
            .panel-body
              | #{activity.teacherpwd}

      .col-xs-9.col-lg-6
        #map-canvas(style='width: 100%; height: 300px')

        //-var point0 = points.point0.lat+","+points.point0.lng
        //-var point1 = points.point1.lat+","+points.point1.lng
        //-var point2 = points.point2.lat+","+points.point2.lng
        //-var point3 = points.point3.lat+","+points.point3.lng
        //-var point4 = points.point4.lat+","+points.point4.lng
        //-var point5 = points.point5.lat+","+points.point5.lng
        //.map-container(style='background: url(http://maps.googleapis.com/maps/api/staticmap?zoom=17&size=600x600&maptype=satellite&path=color:blue|weight:4|'+point0+'|'+point1+'|'+point2+'|'+point3+'|'+point4+'|'+point5+'|'+point0+'&markers=icon:http://celtest1.lnu.se:3131/img/icons/cat.png|'+point0+'&markers=icon:http://celtest1.lnu.se:3131/img/icons/house.png|'+point1+'&markers=icon:http://celtest1.lnu.se:3131/img/icons/tree.png|'+point2+'&markers=icon:http://celtest1.lnu.se:3131/img/icons/bike.png|'+point3+'&markers=icon:http://celtest1.lnu.se:3131/img/icons/car.png|'+point4+'&markers=icon:http://celtest1.lnu.se:3131/img/icons/horse.png|'+point5+'&) center no-repeat; height: 300px; width:100%; ')
        br
        span#questionnaire Do you want to have a questionnaire in this activity?
          input#questBtn(type='checkbox', name='questionnaire' style='margin-left:5px;')
      .col-xs-6.col-lg-4
        .row
          .col-xs-9.col-lg-6
            .well(style='overflow: auto;')
              h5(style='text-align: center') Downloads
              ul.list-group.checked-list-box.dllist(id="downloads-list")
                - for (var i = 1; i <= 14; ++i) {
                li.list-group-item(id="itemdo#{i}", style="height: 50px;")
                  label(style='margin-left: 0px;') Group #{i}
                  - for (var j = 0; j <= activity.downloaded_xmls.length; j++) {
                  if activity.downloaded_xmls[j]
                    if i == activity.downloaded_xmls[j].xml_index
                      -var d = new Date(activity.downloaded_xmls[j].date)
                      -var min = 0;
                      if d.getMinutes() < 10
                        - min = "0" + d.getMinutes();
                      else
                        - min = d.getMinutes();
                      -var date = 0;
                      if d.getDate() < 10
                        - date = "0" + d.getDate();
                      else
                        - date = d.getDate();
                      -var month = 0;
                      if parseInt(d.getMonth()+1) < 10
                        - month = "0" + parseInt(d.getMonth()+1);
                      else
                        - month = parseInt(d.getMonth()+1);
                      - dateString = date + '/' + month + '/' + d.getFullYear() + ' ' + d.getHours() + ':' + min
                      div.timestamp(style='margin-top: -5px; margin-bottom: -6px; margin-left: 14px; font-size: 11px; height:15px; width: 105px;')= dateString
                  - }
                - }
              button#updatedlbt.btn.btn-primary(type='button') Apply Changes
              button#reset-activity.btn.btn-primary(type='button', style='font-size: 15px; margin-top: 10px; width: 100%; ') Reset Activity

          .col-xs-9.col-lg-6
            .well(style='overflow: auto; float: left; margin-left: -50px; width: 180px; height: 851px; border-left: 0px;')
              h5(style='text-align: center') Uploads
              ul.list-group.checked-list-box.ullist(id="uploads-list")
                - for (var i = 1; i <= 14; ++i) {
                li.list-group-item(id="itemup#{i}", style='padding-bottom: 4px; height: 50px; width: 140px;')
                  label Group #{i}
                  -var countFiles = 0
                  -var exist = false
                  - for (var j = 0; j <= activity.uploaded_xmls.length; j++) {
                  if activity.uploaded_xmls[j]
                    if i == activity.uploaded_xmls[j].xml_index
                      -exist = true
                      -countFiles++
                      -var d = new Date(activity.uploaded_xmls[j].date)
                      -var min = 0;
                      if d.getMinutes() < 10
                        - min = "0" + d.getMinutes();
                      else
                        - min = d.getMinutes();
                      -var date = 0;
                      if d.getDate() < 10
                        - date = "0" + d.getDate();
                      else
                        - date = d.getDate();
                      -var month = 0;
                      if parseInt(d.getMonth()+1) < 10
                        - month = "0" + parseInt(d.getMonth()+1);
                      else
                        - month = parseInt(d.getMonth()+1);
                      - dateString = date + '/' + month + '/' + d.getFullYear() + ' ' + d.getHours() + ':' + min
                  - }
                  div.timestamp
                    if exist && countFiles == 1
                      div(id="div#{i}" style='margin-top: -5px; margin-left: 1px; font-size: 11px; font-weight: normal; padding-bottom: 0px; width: 105px;')= dateString
                    if exist && countFiles > 1
                      div(id="div#{i}" style='margin-top: -5px; margin-left: 1px; font-size: 11px; font-weight: normal; padding-bottom: 0px; width: 105px;')= dateString + " (" + countFiles+ ")"
                - }

    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Reset the activity?
          .modal-body
            | Are you sure? The record of the downloaded XMLs will be lost.
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button#reset-button.btn.btn-primary(type='button') Reset
    #updateModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Update the list of downloaded XMLs?
          .modal-body
            | Are you sure? The record of the downloaded XMLs will be permanently changed.
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button#update-dl-button.btn.btn-primary(type='button') Update

