extends trigo_layout

append head_inserts
  title #{title}

append body
  .container
    .row
      .col-sm-4
        h1 Android
        | Download here
        br
        br
        a(href='https://play.google.com/store/apps/details?id=com.ionicframework.trigo703360', target="_blank")
          img.img(src='/img/downloads/Android_Robot_200.png', alt='Android')
        br
        br
        | or scan the QR-code
        br
        br
        img.img(src='/img/downloads/qrcode_android.png', alt='qrcode_android')
      .col-sm-4
        h1 iOS
        | Download here
        br
        br
        a(href='https://itunes.apple.com/us/app/trigo-lnu/id992482871', target="_blank")
          img.img(src='/img/downloads/App-Store-Icon_200x200.png', alt='iOS')
      .col-sm-4