doctype html
html
  head
    block head
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      title TriGO | Triangulation in the field
      meta(name='description', content='Insert Your Site Description')
      //Mobile Specifics
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='HandheldFriendly', content='true')
      meta(name='MobileOptimized', content='320')
      //Mobile Internet Explorer ClearType Technology
      //if IEMobile
        meta(http-equiv='cleartype', content='on')
      //Bootstrap
      link(href='/css/vendor/bootstrap.min.css', rel='stylesheet')
      //Main Style
      link(href='/css/home/main.css', rel='stylesheet')
      //Supersized
      link(href='/css/home/supersized.css', rel='stylesheet')
      link(href='/css/home/supersized.shutter.css', rel='stylesheet')
      //FancyBox
      link(href='/css/home/fancybox/jquery.fancybox.css', rel='stylesheet')
      //Font Icons
      link(href='/css/home/fonts.css', rel='stylesheet')
      //Shortcodes
      link(href='/css/home/shortcodes.css', rel='stylesheet')
      //Responsive
      link(href='/css/home/bootstrap-responsive.min.css', rel='stylesheet')
      link(href='/css/home/responsive.css', rel='stylesheet')
      //Google Font
      link(href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900', rel='stylesheet', type='text/css')
      //Fav Icon
      link(rel='shortcut icon', href='#')
      link(rel='apple-touch-icon', href='#')
      link(rel='apple-touch-icon', sizes='114x114', href='#')
      link(rel='apple-touch-icon', sizes='72x72', href='#')
      link(rel='apple-touch-icon', sizes='144x144', href='#')
      //Modernizr
      script(src='/js/vendor/modernizr.js')

      //Js
      script(src='/js/vendor/jquery-1.11.1.min.js')
      //jQuery Core
      script(src='/js/vendor/bootstrap.min.js')
      //Bootstrap
      script(src='/js/vendor/supersized.3.2.7.min.js')
      //Slider
      script(src='/js/home/waypoints.js')
      //WayPoints
      script(src='/js/home/waypoints-sticky.js')
      //Waypoints for Header
      script(src='/js/home/jquery.isotope.js')
      //Isotope Filter
      script(src='/js/home/jquery.fancybox.pack.js')
      //Fancybox
      script(src='/js/home/jquery.fancybox-media.js')
      //Fancybox for Media
      script(src='/js/home/jquery.tweet.js')
      //Tweet
      script(src='/js/home/plugins.js')
      //Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi
      script(src='/js/home/main.js')
      
  body    
    block body
      //This section is for Splash Screen
      .ole
        section#jSplash
          #circle
      //End of Splash Screen
      //Homepage Slider
      #home-slider
        .overlay
        .slider-text
          #slidecaption
        .control-nav
          a#prevslide.load-item
            i.font-icon-arrow-simple-left
          a#nextslide.load-item
            i.font-icon-arrow-simple-right
          ul#slide-list
          a#nextsection(href='#trigo')
            i.font-icon-arrow-simple-down
      //End Homepage Slider
      block header
        //Header
      block page_trigo
        //presentation

      block page_authoring
        //access to the authoring tool

      block page_mobile
        //access to the mobile app

      block page_dashboard
        //access to the mobile app

      block page_visualization
        //access to the visualization tool

      block page_contact
        //contact

      block twitter
        //twitter

      block social
        //social

      block footer
        //footer

      //Back To Top
      a#back-to-top(href='#')
        i.font-icon-arrow-simple-up
      //End Back to Top

