extends home_layout

block header
  header
    .sticky-nav
      a#mobile-nav.menu-nav(href='#menu-nav')
      #logo
        a#goUp(href='#home-slider', title='TriGO') TriGO
      nav#menu
        ul#menu-nav
          li.current
            a(href='#home-slider') Home
          li
            a(href='#trigo') Background
          li
            a(href='#authoring') Design an activity
          li
            a(href='#mobile') Mobile Apps
          li
            a(href='#dashboard') Dashboard
          li
            a(href='#visualization') Visualization
          li
            a(href='#contact') Contact
block page_trigo
  //Our Work Section
  #trigo.page
    .container
      //Title Page
      .row
        .span12
          .title-page
            h2.title Triangulation in the field
            h3.title-description
              | Perform triangulation activities with mobile devices in the field! Everywhere! Design it, do it, analyze it!
      //End Title Page
      //Portfolio Projects
      .row
        .span3
          //Filter
          nav#options.work-nav
            ul#filters.option-set(data-option-key='filter')
              li.type-work The possibilities
              li
                a.selected(href='#filter', data-option-value='*') All
              li
                a(href='#filter', data-option-value='.design') Authoring
              li
                a(href='#filter', data-option-value='.photography') Mobile App
              li
                a(href='#filter', data-option-value='.dash') Dashboard
              li
                a(href='#filter', data-option-value='.vis') Visualization
              li
                a(href='#filter', data-option-value='.video') Video
          //End Filter
        .span9
          .row
            section#projects
              ul#thumbs
                //Item Project and Filter Name
                li.item-thumbs.span3.design
                  //Fancybox - Gallery Enabled - Title - Full Image
                  a.hover-wrap.fancybox(data-fancybox-group='gallery', title='Authoring', href='/img/main/authoring/authoring_1.png')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/thumbs/authoring_1.png', alt='Choose an activity to view or create a new one.')
                //End Item Project
                //Item Project and Filter Name
                li.item-thumbs.span3.design
                  //Fancybox - Gallery Enabled - Title - Full Image
                  a.hover-wrap.fancybox(data-fancybox-group='gallery', title='Authoring', href='/img/main/authoring/authoring_2.png')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/thumbs/authoring_2.png', alt='Search for the optimal spot for an activity.')
                //End Item Project
                //Item Project and Filter Name
                li.item-thumbs.span3.design
                  //Fancybox - Gallery Enabled - Title - Full Image
                  a.hover-wrap.fancybox(data-fancybox-group='gallery', title='Authoring', href='/img/main/authoring/authoring_3.png')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/thumbs/authoring_3.png', alt='Place the activity on a map, move and rotate it until the perfect spot is defined.')
                //End Item Project
                //Item Project and Filter Name
                li.item-thumbs.span3.photography
                  //Fancybox - Gallery Enabled - Title - Full Image
                  a.hover-wrap.fancybox(data-fancybox-group='gallery', title='Mobile Application', href='/img/main/mobile/mobile_1.png')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/thumbs/mobile_1.png', alt='The mobile application displays the task to find a spot with the displayed distances to pre-defined points.')
                //End Item Project
                //Item Project and Filter Name
                li.item-thumbs.span3.photography
                  //Fancybox - Gallery Enabled - Title - Full Image
                  a.hover-wrap.fancybox(data-fancybox-group='gallery', title='Mobile Application', href='/img/main/mobile/mobile_2.png')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/thumbs/mobile_2.png', alt='When checking if the desired location is found, the actual distance to the pre-defined points is displayed for each check.')
                //End Item Project
                //Item Project and Filter Name
                li.item-thumbs.span3.photography
                  //Fancybox - Gallery Enabled - Title - Full Image
                  a.hover-wrap.fancybox(data-fancybox-group='gallery', title='Mobile Application', href='/img/main/mobile/mobile_3.png')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/thumbs/mobile_3.png', alt='In the progress view, an overview which tasks are completed or are pending.')
                //End Item Project
                //Item Project and Filter Name
                li.item-thumbs.span3.dash
                  //Fancybox - Gallery Enabled - Title - Full Image
                  a.hover-wrap.fancybox(data-fancybox-group='gallery', title='Mobile Application', href='/img/main/dashboard/dashboard_1.png')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/thumbs/dashboard_1.png', alt='Get an overview about activities.')
                //End Item Project
                //Item Project and Filter Name
                li.item-thumbs.span3.dash
                  //Fancybox - Gallery Enabled - Title - Full Image
                  a.hover-wrap.fancybox(data-fancybox-group='gallery', title='Mobile Application', href='/img/main/dashboard/dashboard_2.png')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/thumbs/dashboard_2.png', alt='Correct downloaded items.')
                //End Item Project
                //Item Project and Filter Name
                li.item-thumbs.span3.dash
                  //Fancybox - Gallery Enabled - Title - Full Image
                  a.hover-wrap.fancybox(data-fancybox-group='gallery', title='Mobile Application', href='/img/main/dashboard/dashboard_3.png')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/thumbs/dashboard_3.png', alt='Get the code and password to be able to access an activity on the mobile application.')
                //End Item Project
                //Item Project and Filter Name
                //li.item-thumbs.span3.video
                  //Fancybox Media - Gallery Enabled - Title - Link to Video
                  a.hover-wrap.fancybox-media(data-fancybox-group='video', title='LETS GO in action', href='http://vimeo.com/11739878')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/work/thumbs/letsgo01.png', alt='Video')
                //End Item Project
                //Item Project and Filter Name
                li.item-thumbs.span3.vis
                  //Fancybox - Gallery Enabled - Title - Full Image
                      a.hover-wrap.fancybox(data-fancybox-group='gallery', title='The City', href='/img/work/full/image-01-full.jpg')
                          span.overlay-img
                          span.overlay-img-thumb.font-icon-plus
                      //Thumb Image and Description
                      img(src='/img/main/work/thumbs/image-01.jpg', alt='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.')
                //End Item Project
      //End Portfolio Projects
    //End Our Work Section
block page_authoring
  //Authoring Section
  #authoring.page-alternate
    .container
      //Title Page
      .row
        .span12
          .title-page
            h2.title The Authoring Environment
            h3.title-description Design trigonometry learning activities in the field
            h1
              a(href='/authoring') DESIGN IT!
      //End Title Page
      //presentation
      .row
        //Start presentation1
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb Create or View
            img(src='/img/main/authoring/authoring_1.png', alt='Create or View')
          h3.profile-name Create or view activities
          p.profile-description
            | Create your own activity or view existing ones. Search and choose from a list of existing scenarios to get inspiration and start designing your own activities.
        //End presentation1
        //Start presentation2
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb Search for locations
            img(src='/img/main/authoring/authoring_2.png', alt='Search for locations')
          h3.profile-name Search for locations
          p.profile-description
            | A map is presented to specify a location where an activity can take place. It is possible to search for location to make it easy find the ideal spot for an activity.
        //End presentation2
        //Start presentation3
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb Add Activity
            img(src='/img/main/authoring/authoring_3.png', alt='Add Activity')
          h3.profile-name Adding the activity to the map
          p.profile-description
            | After finding the perfect spot for the location, it is possible to add the shape of an activity to the map either via drag and drop or by pressing the "plus" button next to the shape. It is possible to move the shape with drag and drop to an other location and it is also possible to rotate the shape so it can really fit in the perfect spot.
        //End presentation3
      //End presentation
    //End Authoring Section
block page_mobile
  //Authoring Section
  #mobile.page-alternate
    .container
      //Title Page
      .row
        .span12
          .title-page
            h2.title The mobile application
            h3.title-description Perform previously designed activities in the field on mobile devices
      //End Title Page
      //Mobile
      .row
        //Start Choose
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb TriGO iOS
            img(src='img/main/mobile/qrcode_web.png', alt='TriGO iOS')
          h3.profile-name TriGO iOS
          p.profile-description
            | Specially designed to run on iOS devices. Just install TriGO on your iOS device, enter the credentials and you are ready to start. Notice that the TriGO mobile application requires a GPS enabled device, so make sure your device is compatible with TriGO (e.g., iPhone3, 4, 5 and 6, iPad GSM).
        //End Choose
        //Start Execute
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb TriGO lite
            img(src='img/main/mobile/qrcode_web.png', alt='TriGO lite')
          h3.profile-name
            | TriGO lite (
            a(href='/downloads/lite') Download
            | )
          p.profile-description
            | An easy to install and maintain version of the TriGO mobile, with the same look and feel than the iOS version. Provide the same experience to all your participants using the TriGO Lite version for Android users and TriGO iOS for iOS users. Notice that the TriGO mobile application requires a GPS enabled device, so make sure your device is compatible with TriGO.
        //End Execute
        //Start Save
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb TriGO advanced
            img(src='img/main/mobile/qrcode_web.png', alt='TriGO advanced')
          h3.profile-name
            | TriGO advanced (
            a(href='/downloads/advanced') Download
            | )
          p.profile-description
            | This is our native version of the TriGO mobile application for Android devices. Advanced users can use this application to customize your own images for the outdoor activity, and refine the tasks within the activity.
            | This version will offer collaboration between multiple devices on the field (Internet connection required) as well as real-time monitoring to support the teacher during the outdoor activity.
            | Requires: Android 2.3+
            | Check Google Play for future updates.
        //End Save
      //End Mobile
    //End Mobile Section

block page_dashboard
  //Authoring Section
  #dashboard.page-alternate
    .container
      //Title Page
      .row
        .span12
          .title-page
            h2.title Dashboard
            h3.title-description Get an overview about an activity
            h1
              a(href='/authoring') Dashboard
      //End Title Page
      //People
      .row
        //Start Profile
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb Overview about an activity
            img(src='/img/main/dashboard/dashboard_1.png', alt='Overview about an activity')
          h3.profile-name Comming Soon
          p.profile-description
            | It is possible to get an overview about an activity. This includes information where the activity takes place, how many groups downloaded the activity and how many uploaded their results.
        //End Profile
        //Start Profile
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb Influence the progress
            img(src='/img/main/dashboard/dashboard_2.png', alt='Influence the progress')
          h3.profile-name Change/reset the amount of downloaded tasks to be able to correct mistakes or start over with an activity.
          p.profile-description
        //End Profile
        //Start Profile
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb Grant access to an activity
            img(src='/img/main/dashboard/dashboard_3.png', alt='Grant access to an activity')
          h3.profile-name The Activity Code Password
          p.profile-description
            | The Activity Code and the Activity Password is needed to gain access to an activity in the mobile application.
        //End Profile
      //End People
    //End Authoring Section

block page_visualization
  //Authoring Section
  #visualization.page-alternate
    .container
      //Title Page
      .row
        .span12
          .title-page
            h2.title The visualization
            h3.title-description Visualize the data that is generated during the execution
            h1
              a(href='/visualization') Visualization
      //End Title Page
      //People
      .row
        //Start Profile
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb COMING SOON
            img(src='img/main/profile/profile-01.jpg', alt='Coming Soon')
          h3.profile-name Comming Soon
          p.profile-description
        //End Profile
        //Start Profile
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb COMING SOON
            img(src='/img/main/profile/profile-02.jpg', alt='Coming Soon')
          h3.profile-name Coming soon
          p.profile-description
        //End Profile
        //Start Profile
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb COMING SOON
            img(src='/img/main/profile/profile-03.jpg', alt='Coming Soon')
          h3.profile-name Coming soon
          p.profile-description
        //End Profile
      //End People
    //End Authoring Section

block page_contact
  //Contact Section
  #contact.page
    .container
      //Title Page
      .row
        .span12
          .title-page
            h2.title Get in Touch
            h3.title-description Feel free to contact us.
      //End Title Page
      //Contact Form
      .row
        .span9
          form#contact-form.contact-form(action='#')
            p.contact-name
              input#contact_name(type='text', placeholder='Full Name', value='', name='name')
            p.contact-email
              input#contact_email(type='text', placeholder='Email Address', value='', name='email')
            p.contact-message
              textarea#contact_message(placeholder='Your Message', name='message', rows='15', cols='40')
            p.contact-submit
              a#contact-submit.submit(href='mailto:didac.gil-de-la-iglesia@lnu.se') Send Your Email
            #response
        .span3
          .contact-details
            h3 Contact Details
            ul
              li
                | Didac Gil de la Iglesia
              li
                a(href='mailto:didac.gil-de-la-iglesia@lnu.se') didac.gil-de-la-iglesia@lnu.se
              li
                | CeLeKT
                br
                | Linnaeus University
                br
                | Växjö, Sweden
      //End Contact Form
    //End Contact Section
block twitter
  //Twitter Feed
  //#twitter-feed.page-alternate
      .container
          .row
              .span12
                  .follow
                      a(href='https://twitter.com/', title='Follow Us on Twitter', target='_blank')
                          i.font-icon-social-twitter
                  #ticker.query
  //End Twitter Feed
block social
  //Social Media
  #social-area.page
    .container
      .row
        .span12
          nav#social
            ul
              li
                a(href='https://twitter.com/', title='Follow Us on Twitter', target='_blank')
                  span.font-icon-social-twitter
              li
                a(href='https://www.facebook.com/', title='Follow Us on Facebook', target='_blank')
                  span.font-icon-social-facebook
              li
                a(href='https://plus.google.com/', title='Follow Us on Google Plus', target='_blank')
                  span.font-icon-social-google-plus
    //End Social Media
block footer
  //Footer
  footer
    p.credits
      | ©2015. A project from
      br
      a(href='http://www.celekt.info', title='CeLeKT | Center for Learning and Knowledge Technologies') CeLeKT
      br
      | at
      br
      a(href='http://www.lnu.se', title='Linnaeus University') Linnaeus University
  //End Footer