extends trigo_layout

append head_inserts
  title TriGO | Login

append head
  link(rel='stylesheet', href='/css/vendor/font-awesome.min.css')
  link(rel='stylesheet', href='/css/authoring/bootstrap-social.css')
  link(rel='stylesheet', href='/css/authoring/style.css')
  link(rel='stylesheet', href='/css/auth/login.css')


append body
  .container
    #login-container
      if logout
        h2 You are already logged in as "#{user.username}", do you want to log out?
        form.form-horizontal(action='/logout', role='form')
          div.form-group
            div.col-sm-12
              input.btn.btn-info.btn-block.btn-lg(type='submit', value='Log out')
      else
        #login-socialmedia
          .row
            .col-sm-4
            .col-sm-4
              .row
                .col-sm-4
                  a.btn.btn-lg.btn-social-icon.btn-facebook(href='/auth/facebook')
                    i.fa.fa-facebook
                .col-sm-4
                  a.btn.btn-lg.btn-social-icon.btn-google-plus(href='/auth/google')
                    i.fa.fa-google-plus
                .col-sm-4
                  a.btn.btn-lg.btn-social-icon.btn-twitter(href='/auth/twitter')
                    i.fa.fa-twitter
            .col-sm-4
        .text OR
        #login-website
          .row
            if message
              #message
                .col-sm-12
                  .text-danger #{message}
            form.form-horizontal(action='/auth/local', method='post', role='form')
              div.form-group
                div.col-sm-12
                  .input-group
                    span.input-group-addon
                      i.fa.fa-user
                    input.form-control(type='text', name='username', placeholder='Username')
              div.form-group
                div.col-sm-12
                  .input-group
                    span.input-group-addon
                      i.fa.fa-lock
                    input.form-control(type='password', name='password', placeholder='Password')
              div.form-group
                div.col-sm-12
                  input.btn.btn-info.btn-block.btn-lg(type='submit', value='Log in')
            #registrationlink
              .col-sm-12
                span Do you need an account?
              .col-sm-12
                a(href='/register') Register here
