extends authoring_layout
append head
  title Register
block body
  body
    .wrapper
      .content
        #header
          #top
            a#home.cross(href='/') Home
          h1 Registration
        #registration-container
          .row
            if message
              #message
                .col-sm-12
                  .text-danger #{message}
            form.form-horizontal(action='/register/newuser', method='post', role='form')
              div.form-group
                div.col-sm-12
                  .input-group
                    span.input-group-addon
                      i.fa.fa-user
                    input.form-control(type='text', name='username', placeholder='Username')
              div.form-group
                div.col-sm-12
                  .input-group
                    span.input-group-addon
                      i.fa.fa-lock
                    input.form-control(type='password', name='password', placeholder='Password')
              div.form-group
                div.col-sm-12
                  .input-group
                    span.input-group-addon
                      i.fa.fa-lock
                    input.form-control(type='password', name='password2', placeholder='Confirm Password')
              div.form-group
                div.col-sm-12
                  input.btn.btn-info.btn-block.btn-lg(type='submit', value='Register')
            #loginlink
              .col-sm-12
                span Do you have already an account?
              .col-sm-12
                a(href='/login') Login here