//
   Created by aaml on 12.02.2015.
extends authoring_layout

block head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title TriGO - New Activity
  meta(name='viewport', content='width=device-width')
  //link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='/css/authoring/font.css', type='text/css')
  link(rel='stylesheet', href='/css/authoring/normalize.min.css')
  link(rel='stylesheet', href='/css/authoring/main.css')
  link(rel='stylesheet', href='/css/authoring/style.css')
  link(rel='stylesheet', href='/css/authoring/fontello.css')
  link(rel='stylesheet', href='/css/vendor/font-awesome.min.css')
  script(src='/js/vendor/modernizr.js')
  //script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
  script(src='/js/vendor/jquery-1.11.2.min.js')
  //JQUERY UI
  script(src='/js/vendor/jquery-ui.min.js')
  //FORM VALIDATION PLUGIN
  script(src='/js/authoring/jquery.validate.js')
  //TEXTEAREA AUTOSIZE PLUGIN
  script(src='/js/vendor/jquery.autosize.min.js')

  //custom
  script(src='/js/authoring/main.js')
  script(src="/js/vendor/jquery.autosize.min.js")
  script(src="/js/authoring/activity.js")
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places")
  script(src="/js/vendor/google/google.maps.Polygon.rotate.min.js")
  script(src='/js/authoring/map/mapWidget.js')
  script(src='/js/authoring/map/tennisCourt.js')
  

block body
  //#user(uid=user.id)
  .wrapper
    .content
      #element-panel
        .element
          .icon-upload-cloud Tennis Court
            .tennis-court.draggable(style="background-image: url('/img/authoring/tennis_court.png'); background-repeat: no-repeat; background-position: center;")
        div#iconElement
          span.icon-trash#trashElement
          span.icon-plus#addElement
      if scenario
        #scenario-head(data-scenarioid='#{scenario._id}')
          a#cancel.cross(href='/authoring') Cancel
          span
            | Code: #{scenario.code} -
            | Password: #{scenario.password} -
            | Teacher Password: #{scenario.teacherpwd}
          if scenario
            input#scenario-title(type='text', placeholder='How do you want to call your scenario?', value=scenario.title)
            input#scenario-description(type='text', placeholder='Give a description about the activity', value=scenario.description)
          else
            input#scenario-title(type='text', placeholder='How do you want to call your scenario?')
            input#scenario-description(type='text', placeholder='Give a description about the activity')
          p#error-message
      else
        #scenario-head(data-scenarioid='')
          a#cancel.cross(href='/authoring') Cancel
          if scenario
            input#scenario-title(type='text', placeholder='How do you want to call your scenario?', value=scenario.title)
            input#scenario-description(type='text', placeholder='Give a description about the activity', value=scenario.description)
          else
            input#scenario-title(type='text', placeholder='How do you want to call your scenario?')
            input#scenario-description(type='text', placeholder='Give a description about the activity')
          #save-scenario.button.green
            //.icon.icon-upload-cloud
            | Save Activity
          p#error-message
      #default-fields.screen.active
        .search
          span.fa.fa-search
          input#pac-input.controls.label(type='text', placeholder='Search for a place')
        #map.scenario-element
