doctype html
html(ng-app="activityApp")
  block head
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      block head_inserts

      link(href='/css/vendor/bootstrap.css', rel='stylesheet')
  block body
    include includes/menu
    body#body(style = "background: white;")
    block body_js
      script(src='/js/vendor/jquery-1.11.2.min.js', type='text/javascript')
      script(src='/js/vendor/bootstrap.min.js', type='text/javascript')
