extends trigo_layout

append head_inserts
  title TriGO | Tutorials

append body
  .container
    h1 Tutorials
    div.panel-group#accordion
      div.panel-heading#headingOne
        a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
          h2 The Authoring Tool
      div.panel-collapse#collapseOne(class='collapse')
        article#post-6.post-6.page.type-page.status-publish.hentry
          .entry-content
            p The authoring tool is
            h4
              span(style='text-decoration: underline;') 1. Listing your activities
            p  
            table(style='width: 100%; border-style: solid; border-color: #ffffff #ffffff;')
              tbody
                tr
                  td(width='50%')
                    center
                      a(href='/img/tutorials/Screen-Shot-2015-03-30-at-00.21.10.png')
                        img.alignnone.size-medium.wp-image-80(src='/img/tutorials/Screen-Shot-2015-03-30-at-00.21.10-300x213.png', alt='Screen Shot 2015-03-30 at 00.21.10', width='300', height='213')
                  td(width='50%')
                    center Video coming soon
            p  
            h4
              span(style='text-decoration: underline;') 2. Creating a new Activity
            p  
            h5 2.1 Selecting an Area for the Activity
            p  
            h5 2.2 Placing the Activity figure
            table(style='width: 100%; border-style: solid; border-color: #ffffff #ffffff;')
              tbody
                tr
                  td(width='50%')
                    center
                      a(href='/img/tutorials/Screen-Shot-2015-03-29-at-16.31.32.png')
                        img.alignnone.size-medium.wp-image-16(src='/img/tutorials/Screen-Shot-2015-03-29-at-16.31.32-300x231.png', alt='Screen Shot 2015-03-29 at 16.31.32', width='300', height='231')
                  td(width='50%')
                    center
                      a(href='/img/tutorials/Screen-Shot-2015-03-29-at-16.31.06.png')
                        img.alignnone.size-medium.wp-image-17(src='/img/tutorials/Screen-Shot-2015-03-29-at-16.31.06-300x231.png', alt='Screen Shot 2015-03-29 at 16.31.06', width='300', height='231')
            p  
            h5 2.3 Selecting the desired Orientation
            p The Authoring tool allows the user to rotate the figure
            table(style='width: 100%; border-style: solid; border-color: #ffffff #ffffff;')
              tbody
                tr
                  td(width='50%')
                    center
                      a(href='/img/tutorials/Screen-Shot-2015-03-09-at-15.09.12.png')
                        img.alignnone.size-medium.wp-image-33(src='/img/tutorials/Screen-Shot-2015-03-09-at-15.09.12-300x171.png', alt='Screen Shot 2015-03-09 at 15.09.12', width='300', height='171')
                  td(width='50%')
                    center Video coming soon
            p  
            h4
              span(style='text-decoration: underline;') 2.4 Managing an Activity







    div.panel-group#accordion
      div.panel-heading#headingTwo
        a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
          h2 The Mobile Application
      div.panel-collapse#collapseTwo(class='collapse')
        article#post-8.post-8.page.type-page.status-publish.hentry
          .entry-content
            p
              | The outdoor activity can be performed via mobile devices with&nbsp;
              strong GPS
              |  capabilities. To run the activity, the user’s must install the TriGO mobile application, which is available both for&nbsp;
              a(href='/basics/downloads') Android
              |  devices and&nbsp;
              a(href='git /basics/downloads') iOS
              |  devices. The system has been designed to allow up to 14 groups participating in an activity at the same time.
            p
              | The description of the TriGO mobile application is divided in a set of screens that follow sequential steps that are performed during the outdoor activity:
            ol
              li Selecting the activity in which we will participate
              li Understanding the task goal
              li Understanding the activity status
              li Searching the hidden point
              li Uploading the activity log
            h4
              strong
                span(style='text-decoration: underline;') 1. Selecting the activity
            p
              | The first step when opening the TriGO mobile application is to determine the activity that we are going to execute. In order to select the activity, the user must enter a valid Activity Code and Password. These values are generated via the Authoring tool presented in&nbsp;
              a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne') here
              | .
            table(style='width: 100%; border-style: solid; border-color: #ffffff #ffffff;')
              tbody
                tr
                  td(width='50%')
                    center
                      a(href='/img/tutorials/Screenshot_2015-03-29-19-35-36.png')
                        img.alignnone.size-medium.wp-image-43(src='/img/tutorials/Screenshot_2015-03-29-19-35-36-180x300.png', alt='Screenshot_2015-03-29-19-35-36', width='180', height='300')
                  td(width='50%')
                    center Video coming soon
            p
              | After valid values have been entered, the application will continue to present the tasks designed by the teacher.
            h4
              span(style='text-decoration: underline;') 2. Understanding the task
            p The following image presents a task in the outdoor activity.
            table(style='width: 100%; border-style: solid; border-color: #ffffff #ffffff;')
              tbody
                tr
                  td(width='50%')
                    center
                      a(href='/img/tutorials/Screenshot_2015-03-29-19-12-00.png')
                        img.alignnone.size-medium.wp-image-51(src='/img/tutorials/Screenshot_2015-03-29-19-12-00-180x300.png', alt='Screenshot_2015-03-29-19-12-00', width='180', height='300')
                  td(width='50%')
                    center Video coming soon
            p
              | On the top section of the display, the applications  On the left side, the application indicates the current task in the activity (1st out of 10). On the right side, the application shows the assigned group ID for the activity (Grupp10).
            p
              | On the main area of the TriGO mobile application, we can see the current task information. In this case, we are asked to find a location on the field that stands 30 meters from the Car landmark and 60 meters from the horse landmark.
            p
              | At the bottom of the screen, we can see four buttons. The three first buttons (Skip, Check and OK) are meant to let the user decide the actions to do within the current activity. The Check button can be pressed to see the distance existing between the user’s location and the two reference points (
              em car
              |  and
              em horse
              |  in the image).
              br
              | Whenever the participant considers that the current location corresponds to the expected location to find (30m from car, and 60m for horse), the participant can press the OK button.
              br
              | In that case, the location will be considered as
              em found,
              | and the activity will proceed to the next task. In some cases, there may be reasons to desire skipping a task. For example, if the participant realizes that the hidden point  cannot exist (the three distances do not satisfy the rules A<B+C, B<A+C, C<A+B ).
              br
              | The “See Progress” button will direct to the a progress activity screen that will help us understanding the activity status.
            h4
              span(style='text-decoration: underline;') 3. Understanding the activity status
            p
              | The Progress screen allows the participant to see their progress in the activity. The screen provides a fast view to check the tasks that have been done, whether they were successfully completed or skipped, and the number of attempts or checks that were done for each task.
            p
              | The image below represents an activity that is currently in their 4th task. It also shows that the fist task was skipped after three attempts, but the second and third tasks where successfully completed on their second and third attempt.
            p  
            table(style='width: 100%; border-style: solid; border-color: #ffffff #ffffff;')
              tbody
                tr
                  td(width='50%')
                    center
                      a(href='/img/tutorials/Screenshot_2015-03-29-19-18-13.png')
                        img.alignnone.size-medium.wp-image-55(src='/img/tutorials/Screenshot_2015-03-29-19-18-13-180x300.png', alt='Screenshot_2015-03-29-19-18-13', width='180', height='300')
                  td(width='50%')
                    center Video coming soon
            p
              | It is important to notice that the status of a task does not reflect the correctness of the result. A task marked as OK only reflects that the participant considered that the hidden point was found. However, the participant may have incorrectly selected the location that was asked in the task.
            h4
              span(style='text-decoration: underline;') 4. Searching the hidden point
            p
              | By pressing the
              em Check
              |  button, the participant can perform attempts to check the current location to the two reference points. In the image below, the screen shows that the participants using the mobile device have done three attempts in three different locations that where
            ul
              li 29m from the car and 45m from the horse in the first attempt,
              li 24m from the car and 53m from the horse on the second, and
              li 28m from the car and 58m from the horse on the third.
            p
              | Given the expect accuracy of a GPS device, we could consider that the third attempt is quite close to the desired location. Therefore, a participant could consider to select the current location as the desired one by clicking on
              em OK.
            table(style='width: 100%; border-style: solid; border-color: #ffffff #ffffff;')
              tbody
                tr
                  td(width='50%')
                    center
                      a(href='/img/tutorials/Untitled-21.jpg')
                        img.size-medium.wp-image-61(src='/img/tutorials/Untitled-21-180x300.jpg', alt='Untitled 2', width='180', height='300')
                  td(width='50%')
                    center Video here
            h4
              span(style='text-decoration: underline;') 5. Uploading the activity log
            p
              | Once the activity has completed, or at any other point when the teacher may request it, the participants in the outdoor activity can submit their performance by uploading the activity log.
            p
              | The uploading process is performed opening the menu options in the TriGO mobile applications and selecting the “
              em Upload
              | ” option.
            p
              | Uploading the activity logs is required to be able to proceed with the visualization phases of the learning activity. One activity can uploaded several times to the servers, and at different moments of the activity.
            table(style='width: 100%; border-style: solid ; border-color: #ffffff #ffffff;')
              tbody
                tr
                  td(width='30%')
                    center
                      a(href='/img/tutorials/Screenshot_2015-03-29-19-12-12.png')
                        img.alignnone.size-medium.wp-image-52(src='/img/tutorials/Screenshot_2015-03-29-19-12-12-180x300.png', alt='Screenshot_2015-03-29-19-12-12', width='180', height='300')
                  td(width='30%')
                    center
                      a(href='/img/tutorials/Screenshot_2015-03-29-19-36-08.png')
                        img.alignnone.size-medium.wp-image-45(src='/img/tutorials/Screenshot_2015-03-29-19-36-08-180x300.png', alt='Screenshot_2015-03-29-19-36-08', width='180', height='300')
                  td(width='30%')
                    center Video here




    div.panel-group#accordion
      div.panel-heading#headingThree
        a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
          h2
            | The Visualization
      div.panel-collapse#collapseThree(class='collapse')
        | Coming soon




