doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Visualization App
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/js/KMLvisualization/bower_components/html5-boilerplate/css/normalize.css')
    link(rel='stylesheet', href='/js/KMLvisualization/bower_components/html5-boilerplate/css/main.css')
    link(rel='stylesheet', href='/js/KMLvisualization/visualizing.css')
    script(src='/js/KMLvisualization/bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    script.
        var activityTitle = !{JSON.stringify(activityTitle)}
        var activityID = !{JSON.stringify(activityID)};
        var selected = !{JSON.stringify(select)};

body(ng-app="myApp")

    include includes/menu_visualization
    div(ng-view='', style="margin-top:-20px;")


    script(src='/js/KMLvisualization/bower_components/angular/angular.js')
    script(src='/js/KMLvisualization/bower_components/angular-route/angular-route.js')
    script(src='/js/KMLvisualization/bower_components/angular-bootstrap/ui-bootstrap.js')
    script(src='/js/KMLvisualization/checklist-model.js')
    script(src='/js/KMLvisualization/KMLParser.js')
    script(src='/js/KMLvisualization/StyleItem.js')
    script(src='/js/KMLvisualization/TaskItem.js')
    script(src='/js/KMLvisualization/PointList.js')
    script(src='/js/KMLvisualization/ui-map.js')
    script(type='text/javascript', src='/js/KMLvisualization/bower_components/angular-ui-utils/ui-utils.js')
    script(type='text/javascript', src='/js/KMLvisualization/bower_components/angular-ui-map/ui-map.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCmSq7q_55EysV8KS3evR6LMlDrGLiovDM')
    script(src='/js/KMLvisualization/visualizing.js')
    script(src='/js/KMLvisualization/components/version/version.js')
    script(src='/js/KMLvisualization/components/version/version-directive.js')
    script(src='/js/KMLvisualization/components/version/interpolate-filter.js')

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
