extends trigo_layout

append head_inserts
  title TriGO | Visualize Activities

append head
  link(href='/css/authoring/activities.css', rel='stylesheet')

append body_js
  script(src='/js/vendor/angular.min.js', type='text/javascript')
  script(src='/js/vendor/angular/ui-bootstrap-tpls-0.12.1.js', type='text/javascript')
  script(src='/js/vendor/angular/smart-table.min.js', type='text/javascript')
  script(src='/js/authoring/activities.js', type='text/javascript')

append body
  #uID(uID=user._id)
    .container(ng-controller="ActivityCtrl", style="background: #f5f5f5;")
      .page-header
        .row
          .col-xs-18.col-lg-12
            h1 Visualization
            p.lead
              | Choose an activity to Visualize
    .container(style="background: #f5f5f5;", ng-controller='DelModalCtrl')
      .row
        .col-xs-15.col-lg-10.col-md-10
          h3 Activities
          h4 Choose an activity to visualize
          table.table.table-striped(st-table='displayedOwnCollection', st-safe-src='ownActivities')
            thead
              tr
                th(colspan='1')
                  input.input-sm.form-control(st-search='', placeholder='search', type='search')
              tr.sortable
                th(st-sort='title') Title
                th(st-sort='description') Description
                th(st-sort='location') Location
                th(st-sort='created') Created at
            tbody
              tr(ng-repeat='item in displayedOwnCollection')
                td
                  a.list-group-item(href="/visualizing/{{item._id}}/all/{{item.title}}") {{item.title}}
                td {{item.description}}
                td {{item.location}}
                td {{item.createdAt | date}}
            tfoot
              tr
                td.text-center(colspan='2')
                  div(st-pagination='', st-items-by-page='10', st-displayed-pages='7')
        .col-xs-3.col-lg-2.col-md-2