<section class="wrapper" ng-controller="mapsCtrl">
    <div class="events" style="height:150px; overflow-y: auto;">

        <div class="markers">
            <span ng-repeat="target in targetPoints" ng-click="updateMarkers();" ng-init="AttemptIndex = $index" style="text-align: center;">
                <img src={{target[2]}}><br>
                <div style="float:left; width:100%; text-align:center;">
                    <input style="margin-top:6px; margin-right: 5px; text-align:center;" ng-checked="true" type="checkbox" checklist-model="user.data" checklist-value="target">
                </div>
            </span>

        </div>

        <div class="activities"  style="margin-top: 63px;">
            <div class="panel-group" id="accordionGroup" ng-repeat="group in data" ng-init="GroupIndex = $index" style="margin-bottom:0px;">
                <div class="panel panel-default">
                    <a data-toggle="collapse" data-parent="accordionGroup" data-target="#group{{GroupIndex}}">
                    <div class="panel-heading" ng-click="toggleIcon($index)">
                        <span id="icon{{GroupIndex}}" class="glyphicon glyphicon-triangle-right"></span><label style="margin-left: 5px; font-weight: normal">{{group[0]}}</label>
                    </div>
                    </a>
                    <div id="group{{GroupIndex}}" class="panel-collapse collapse" style="margin-left: 5%; margin-right: 5%;">
                        <!-- interior accordion each group-->
                        <div class="panel-group" id="accordionTask" ng-repeat="task in group[1]" ng-init="TaskIndex = $index" style="margin-bottom:8px;">
                            <div class="panel panel-default">

                                <div class="panel-heading" style="height: 30px; padding-top: 3px;">
                                    <a style="font-size: 16px;" data-toggle="collapse" ng-click="toggleIcon(TaskIndex + '_' + GroupIndex)" data-parent="accordionTask" data-target="#task{{TaskIndex}}_{{GroupIndex}}">
                                        <span id="icon{{TaskIndex}}_{{GroupIndex}}" class="glyphicon glyphicon-triangle-right"></span><label style="margin-left: 5px; width: 110px; font-weight: normal">{{task[0]}}</label>
                                    </a>
                                    <a id="unselectBtn_task{{TaskIndex}}_{{GroupIndex}}" style="float:right; display: none;" ng-click="uncheckAll($index + '_' + GroupIndex);">Unselect All</a>
                                    <a id="selectBtn_task{{TaskIndex}}_{{GroupIndex}}" style="float:right; " ng-click="checkAll($index + '_' + GroupIndex);">Select All</a>
                                </div>

                                <div id="task{{TaskIndex}}_{{GroupIndex}}" class="panel-collapse collapse" style="margin-left: 5%;">
                                    <!-- interior accordion each task -->
                                    <div class="panel-group" id="accordionAttempt" ng-repeat="attempt in task[1]" ng-init="AttemptIndex = $index" style="height:10px;">
                                        <div class="panel panel-default" style="text-align:center;" >
                                            <div ng-if="attempt[4] == 'title1'" style="float:left; width: 100%;" onmouseover="this.style.backgroundColor='#DBDDDE';" onmouseout="this.style.backgroundColor='initial';">
                                                <div style="float:left; width: 35%;"><img style="margin-top:3px; width:25px; height: 25px;" src="{{attempt[1]}}"/></div>
                                                <div style="float:left; width: 35%;"><img style="margin-top:3px; width:25px; height: 25px;" src="{{attempt[2]}}"/></div>
                                            </div>
                                            <div ng-if="attempt[4] == 'title2'" style="float:left; width: 100%;" onmouseover="this.style.backgroundColor='#DBDDDE';" onmouseout="this.style.backgroundColor='initial';">
                                                <div style="float:left; width: 35%; padding-top:6px;">{{attempt[1]}}</div>
                                                <div style="float:left; width: 35%; padding-top:6px;">{{attempt[2]}}</div>
                                            </div>
                                            <div ng-if="attempt[4] == 'notitle'" style="float:left; width: 100%;" onmouseover="this.style.backgroundColor='#DBDDDE';" onmouseout="this.style.backgroundColor='initial';" ng-click="logger(GroupIndex + '_' + TaskIndex + '_' + AttemptIndex + ': ' + attempt)">
                                                <div style="float:left; width: 35%; padding-top:6px;">{{attempt[0]}}</div>
                                                <div style="float:left; width: 35%; padding-top:6px;">{{attempt[1]}}</div>
                                                <div style="float:left; width: 20%;"><img style="margin-top:3px; width:25px; height: 25px;" src="{{attempt[2]}}"/></div>
                                                <div style="float:left; width: 10%;"><span ng-click="updateMarkers(); logger(this + GroupIndex + '_' + TaskIndex + '_' + AttemptIndex + ': activate/deactivate');"><input style="float:left; margin-top:9px; margin-right: 5px;" type="checkbox" checklist-model="user.data" checklist-value="attempt"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end -->
                                </div>
                            </div>
                        </div>
                        <!-- end -->
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="main">
        <span>
            <button ng-click="map()" style="margin-top: 10px;">Hide/Show Map</button>
         </span>
        <div style="margin-left: 5%; margin-top: 5px; font-size: 22px; text-align: left;">{{activityTitle}}</div>

        <div style="margin-top: 10px;" id="googleMap" class="map"></div>

    </div>
</section>



