/* app css stylesheet */

body {
    width: 100%;
}

.wrapper {
    float: left;
    width: 100%;
}

.events {
    float: left;
    width: 25%;
    border-right: 1px solid dimgrey;
    background-color: darkgray;
    min-height:100vh;
}

.events #data tr{
    border-left: 3px solid black;
    border-right: 3px solid black;
    height: 35px;
}

.events #data td{
    width: 25%;
    text-align: center;
}

.events #data #top {
    font-weight: bold;
    border-bottom: 2px solid black;
}

.main {
    float: left;
    width: 75%;
    background-color: lightgrey;
    height:100vh;
    text-align: center;
}

#googleMap {
    width:90%;
    margin-left:5%;
    height:680px;
    text-align:center;
    margin-top: 50px;
}

.map-canvas { height: 0px; }

.title1 {
    font-weight: bold;
    background-color: #8c8c8c !important;
    border-left: 3px solid !important;
    border-right: 3px solid !important;
    border-top: 3px solid !important;
}
.title2 {
    font-weight: bold;
    background-color: #8c8c8c !important;
    border-left: 3px solid !important;
    border-right: 3px solid !important;
    border-bottom: 3px solid !important;
}
.Task_1 {
    background-color: #b1b1b1;
    border: 0px;
}

.markers {
    position: absolute;
    float: left;
    width: 25%;
    height: 63px;
    background-color: darkgray;
    z-index: 1;
}

.markers span {
    float:left;
    width: 16.66666667%;
    border: 1px solid grey;
}

.markers span img {
    width: 70%;
}