@font-face {
  font-family: 'fontello';
  src: url('/font/fontello.eot?600710');
  src: url('/font/fontello.eot?600710#iefix') format('embedded-opentype'),
       url('/font/fontello.woff?600710') format('woff'),
       url('/font/fontello.ttf?600710') format('truetype'),
       url('/font/fontello.svg?600710#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?600710#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-video:before { content: '\e806'; } /* '' */
.icon-sort-numeric:before { content: '\e801'; } /* '' */
.icon-camera-alt:before { content: '\e812'; } /* '' */
.icon-ok:before { content: '\e811'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-info:before { content: '\e810'; } /* '' */
.icon-upload-cloud:before { content: '\e816'; } /* '' */
.icon-pencil-1:before { content: '\e814'; } /* '' */
.icon-edit:before { content: '\e805'; } /* '' */
.icon-trash:before { content: '\e804'; } /* '' */
.icon-doc-text:before { content: '\e80a'; } /* '' */
.icon-camera:before { content: '\e813'; } /* '' */
.icon-login:before { content: '\e802'; } /* '' */
.icon-volume-down:before { content: '\e80e'; } /* '' */
.icon-move:before { content: '\e803'; } /* '' */
.icon-mobile-1:before { content: '\e815'; } /* '' */
.icon-text-height:before { content: '\e809'; } /* '' */
.icon-list:before { content: '\e807'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-home:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e80d'; } /* '' */
.icon-arrow-combo:before { content: '\e808'; } /* '' */
.icon-calendar:before { content: '\e80c'; } /* '' */
.icon-tennis-court:before {content: '\e815';
    content: "";
}